.metrics {
    padding-bottom: 140px;
}

.audits {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.audit {
    text-align: center;
}

.metric-img {
    display: block;
    width: 151px;
    margin: 0 auto;
    margin-bottom: 7px;
}

.metric-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #19191B;
}

.metric-subtitle {
    width: 310px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #696871;
}

@media screen and (max-width: 927px) {

    .audit {
        max-width: 250px;
    }

    .metric-title {
        font-size: 20px;
    }
    
    .metric-subtitle {
        width: 250px;
    }

}