.metrics-section {
    padding-bottom: 140px;
    display: flex;
    justify-content: space-between;
    
}

.metrics-left {
    max-width: 50%;
    padding-top: 150px;
}
.metrics-right {
    width: 350px;
}
.metrics-img {
    display: block;
    width: 151px;
    margin: 0 auto;
    margin-bottom: 7px;
}

.metrics-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #19191B;
}

.metrics-subtitle {
    width: 310px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #696871;
}
