.plan-section {
    padding-bottom: 160px;
}
.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}


.plan-title {
    width: 550px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    color: #19191B;
}

.plan-tabs {
    display: flex;
    align-items: center;
    background: #F7F7FB;
    border-radius: 10px;
    height: 65px;
    width: 344px;
    padding-left: 0px;
}

.plan-tabs__item_first,.plan-tabs__item_second {
    width: 160px;
    height: 55;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #19191B;
}

.plan-tabs__item_first:hover {
    width: 160px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 17px 8px;
    margin: 5px 5px 5px 5px;
    color: #FFFFFF;
    background: #5454D4;
    border-radius: 10px 0px 0px 10px;
}

.plan-tabs__item_second:hover {
    width: 160px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 17px 8px;
    margin: 5px 5px 5px 5px;
    color: #FFFFFF;
    background: #5454D4;
    border-radius: 0px 10px 10px 0px;
}


@media screen and (max-width: 946px) {
    
    .plan-title {
        width: 400px;
    }

}
