.subscript-section {
    padding-bottom: 83px;
}

.subscript {
    display: flex;
    justify-content: space-between;
}

.subscript-left{
    width: 350px;
}

.subscript-right {
    padding-top: 75px;
}

.subscript-title {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 700;
    color: #19191B;
}

.subscript-subtitle {
    width: 480px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.subscript-link {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #5454D4;
    
}

@media screen and (max-width: 946px) {
    .subscript-right {
        margin-left: 30px;
    }
}